.App {
  height: 100%;
  min-height: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.App-flex {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-heading {
  background-color: #EEEEEE;
  z-index: 2;
  position: fixed;
  height: 40px;
  width: 100%;
}

.App-react {
  color: #00d8ff;
  text-decoration: overline underline;
}

.App-players {
  flex-direction: column;
  margin-top: 40px;
}

.playersLarge {
  display: flex;
  flex-wrap: wrap;
}

.pichichiButton {
  border: 0.1vh solid gray;
  border-radius: 5vh;
  padding: 0.7vh;
  margin-left: auto;
  margin-right: 2.5vh;
  font-size: small;
}