.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  padding: 0vh;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal {
  background-color: #fff;
  border-radius: 5;
  min-width: 50vh;
  max-width: 490px;
  min-height: 30vh;
  max-height: 80%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
  justify-content: space-between;
  overflow-y: auto;
}

.closeButton {
  justify-self: flex-end;
  align-self: flex-start;
  border: 0.1vh solid gray;
  border-radius: 5vh;
  padding: 0.7vh;
  font-size: small;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}