.playerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 0.1vh solid gray;
  border-radius: 0.5vh;
  margin: 2.5vh;
  min-width: 280px;
  padding: 1vh 1vh 1vh 6vh;
}

.compactPlayerCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 0.1vh solid gray;
  border-radius: 0.5vh;
  margin: 1.5vh;
  min-width: 280px;
  height: 15vh;
  padding: 1vh;
}

.cardRow {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}

.compactCardRow {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: center;
}

.teamCrest {
  align-self: flex-end;
  width: 3.5vh;
  height: auto;
  margin-top: 1vh;
}

.imageCropper {
  width: 30vh;
  height: 30vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}

.compactImageCropper {
  width: 12vh;
  height: 12vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}

.playerImg {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.playerCrest {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
  margin-left: auto;
}

.playerData {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.playerPosition {
  font-weight: bold;
  padding-left: 0.4em;
}

.teamName {
  margin-top: 1vh;
}